<!DOCTYPE html>
<html>
  <head>
  <title>Tickets Concierto</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

 
  </head>

  <body style="background-color:#000000;">
  <>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">TICKETS BRYAN</a>
  
  </nav>

  <%= yield %>

  </body>
  <br>
  <nav class="navbar navbar-dark bg-dark">
  
  <a class="navbar-brand mx-auto" href="https://www.facebook.com/profile.php?id=662970050">© 2019 Copyright Bryan Romero</a> 
</nav>
 

<style>
.ax{
  color: #ffffff;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

.dropbox{
  margin-left: auto;
  margin-right: auto;
}
</style>

</html>
